main {
    grid-area: main;
    overflow-y: scroll;
    margin-top: -10px;
}

.main__header {
    height: 220px;
    background-color: lighten($color: $third-color, $amount: 22);
    margin-top: -10px;
    display: flex;
}

.main__header-img {
    height: 120px;
    width: 120px;
    margin-left: 15px;
}

.main__header-img img {
    width: 100%;
    height: 100%;
}

.main__header-content {
    width: 180px;
    margin-top: 12px;
}

.main__header-content header h1 {
    font-size: 20px;
    font-family: $font-title;
    color: darken($color: $primary-color, $amount: 20);
    text-align: center;
}

.main__header-content header h3 {
    font-size: 11px;
    margin-top: -15px;
    text-align: center;
    color: lighten($color: $primary-color, $amount: 20);
}

.main__cards {
    display: grid;
    grid-template-columns: 1fr;
    width: 80%;
    margin: 0 auto;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70px;
    margin-top: 25px;
    padding: 10px;
    border-radius: 10px;
}

.card:nth-of-type(1) {
    background-color: $primary-color;
    color: $secondary-color;
}
.card:nth-of-type(2) {
    background-color: rgb(153, 3, 153);
    color: $secondary-color;
}
.card:nth-of-type(3) {
    background-color: rgb(1, 119, 54);
    color: $secondary-color;
}
.card:nth-of-type(4) {
    background-color: rgb(6, 91, 170);
    color: $secondary-color;
}

.card .card__content {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.card__icon {
    font-size: 40px;
}

.card__content-number {
    margin-right: 20px;
}

.charts__stats {
    display: grid;
    grid-template-columns: 1fr;
    width: 90%;
    margin: 20px auto 0 auto;
}

.charts__stats-left {
    height: 250px;
    background-color: darken($color: rgb(190, 211, 228), $amount: 10);
    border-radius: 10px;
    padding: 12px;
}

.charts__stats-left header h2,
.charts__stats-left header h3 {
    font-family: $font-title;
}

.charts__stats-left header h2 {
    font-size: 24px;
    color: $primary-color;
}

.charts__stats-left header h3 {
    font-size: 18px;
    color: darken($color: $third-color, $amount: 10);
}

.charts__stats-content {
    width: 95%;
    margin: 0 auto;
}

.charts__stats-right {
    height: 250px;
    background-color: darken($color: rgb(190, 211, 228), $amount: 10);
    border-radius: 10px;
    padding: 12px;
    margin-top: 20px;
}

.charts__stats-right header h2,
.charts__stats-right header h3 {
    font-family: $font-title;
}

.charts__stats-right header h2 {
    font-size: 24px;
    color: $primary-color;
}

.charts__stats-right header h3 {
    font-size: 18px;
    color: darken($color: $third-color, $amount: 10);
}

.charts__stats-right .charts__stats-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.chart__stats-card {
    margin-top: 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chart__stats-card:nth-of-type(1) {
    background-color: lighten($color: $primary-color, $amount: 40s);
}

.chart__stats-card:nth-of-type(2) {
    background-color: lighten($color: rgb(243, 157, 243), $amount: 0s);
}

.chart__stats-card:nth-of-type(3) {
    background-color: lighten($color: rgb(164, 235, 164), $amount: 0s);
}

.chart__stats-card:nth-of-type(4) {
    background-color: lighten($color: rgb(223, 193, 174), $amount: 0s);
}


@media only screen and (min-width: 768px) {
    main {
        margin-top: -15px;
    }
    .main__header{
        height: 340px;
        margin-top: -5px;
    }

    .main__header-img {
        height: 320px;
        width: 320px;
        margin-left: 15px;
    }

    .main__header-content {
        width: 380px;
        margin-top: 40px;
    }
    
    .main__header-content header h1 {
        font-size: 34px;
    }
    
    .main__header-content header h3 {
        font-size: 28px;
        margin-top: -15px;
        text-align: center;
        color: lighten($color: $primary-color, $amount: 20);
    }

    .charts__stats-right header h2,
    .charts__stats-left header h2 {
        font-size: 30px;
        margin-left: 12px;
    }

    .charts__stats-right header h3,
    .charts__stats-left header h3 {
        font-size: 20px;
        margin-left: 12px;
    }

    .charts__stats-right,
    .charts__stats-left {
        height: 350px;
    }

    .chart__stats-card {
        justify-content: center;
        height: 80px;
    }

    .chart__stats-card h2,
    .chart__stats-card p {
        font-size: 32px;
    }


}

@media only screen and ( min-width: 1360px ) {
    main {
        margin-top: -30px;
    }
    .main__header{
        height: 340px;
        margin-top: -5px;
    }

    .main__header-img {
        height: 320px;
        width: 320px;
        margin-left: 15px;
    }

    .main__header-content {
        width: 380px;
        margin-top: 40px;
    }
    
    .main__header-content header h1 {
        font-size: 34px;
    }
    
    .main__header-content header h3 {
        font-size: 28px;
        margin-top: -15px;
        text-align: center;
        color: lighten($color: $primary-color, $amount: 20);
    }
    
    .main__cards {
        display: grid;
        grid-template-columns: repeat(4, minmax(220px, 1fr));
        grid-gap: 20px;
        width: 95%;
        margin: 0 auto;
    }

    .card {
        
        height: 120px;
        margin-top: 25px;
        padding: 10px;
        border-radius: 10px;
    }

    .card .card__content {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        margin-left: 10px;
    }

    .card .card__content p {
        width: 180px;
        font-size: 22px;
    }
    
    .card__icon {
        margin-left: 20px;
    }

    .card__content-number {
        font-size: 21px;
    }

    .charts__stats {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        width: 90%;
        
    }

    .charts__stats-right, .charts__stats-left {
        height: 380px;
        margin-top: 20px;
        background-color: rgb(202, 202, 221);
        border: 3px solid $primary-color;
    }

    

    .charts__stats-right header h2,
    .charts__stats-left header h2 {
        font-size: 30px;
        margin-left: 12px;
    }

    .charts__stats-right header h3,
    .charts__stats-left header h3 {
        font-size: 20px;
        margin-left: 12px;
    }

    .chart__stats-card {
        justify-content: center;
        height: 80px;
    }

    .chart__stats-card h2,
    .chart__stats-card p {
        font-size: 32px;
    }
}